//
   Created by nuwan on 12/22/15.

doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        title #{title}
        script(src="../javascripts/Cesium/Cesium.js")
        script(src="../javascripts/helpers.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="../javascripts/config/constants.js")
        style
            |@import url(/stylesheets/styles.css);
            | #floating-panel {
            |  margin-top: 100px;
            |  margin-left: 10px;
            |  position: absolute;
            |  top: 10px;
            |  z-index: 5;
            |  background-color: #3F3535;
            |  border-radius: 5px;
            |  padding: 10px;
            |  text-align: center;
            |  font-family: 'Roboto','sans-serif';
            | }
    body
        div(id="cesiumContainer", class="fullSize")
        div(id="toolbar")
        div(id="floating-panel")
            svg(height="130", width="100")
                path(fill="#65C68A", d="M 0 131 L 100 131 100 98 0 98")
                text(id="text1", x="5" y="128" fill="black") 0 ppm
                path(fill="#FEE665", d="M 0 98 L 100 98 100 66 0 66")
                text(id="text2",x="5" y="95" fill="black") 25 ppm
                path(fill="#FEB065", d="M 0 66 L 100 66 100 33 0 33")
                text(id="text3",x="5" y="63" fill="black") 50 ppm
                path(fill="#FE6465", d="M 0 33 L 100 33 100 0 0 0")
                text(id="text4",x="5" y="30" fill="black") 75 ppm
        script(type="text/javascript").
            jsondata='!{data}';
        script(src="../javascripts/average/average.js")