doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1.0")
    style
      |html, body {
      |  height: 100%;
      |  margin: 0;
      |  padding: 0;
      |}
      |#map {
      |  height: 100%;
      |}
      |#combo {
      |  top: 10px;
      |  position: absolute;
      |  margin-top: 70px;
      |  margin-left: 10px;
      |  width: 94px;
      |}
      |.box {
      |  width: inherit;
      |}
      |#floating-panel {
      |  margin-top: 100px;
      |  margin-left: 10px;
      |  position: absolute;
      |  top: 10px;
      |  z-index: 5;
      |  background-color: #fff;
      |  border-radius: 5px;
      |  padding: 10px;
      |  text-align: center;
      |  font-family: 'Roboto','sans-serif';
      |}
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization")
    script(src="../javascripts/config/constants.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  body(id="map-container")
    div(id="map")
    div(id="combo")
      select(id="combobox", class="box", onchange="refresh.call(this, event)")
    div(id="floating-panel")
      svg(height="130", width="100")
        path(fill="#65C68A", d="M 0 131 L 100 131 100 98 0 98")
        text(id="text1", x="5" y="128" fill="black") 0 ppm
        path(fill="#FEE665", d="M 0 98 L 100 98 100 66 0 66")
        text(id="text2", x="5" y="95" fill="black") 25 ppm
        path(fill="#FEB065", d="M 0 66 L 100 66 100 33 0 33")
        text(id="text3", x="5" y="63" fill="black") 50 ppm
        path(fill="#FE6465", d="M 0 33 L 100 33 100 0 0 0")
        text(id="text4", x="5" y="30" fill="black") 75 ppm
    script(type="text/javascript").
      jsondata='!{data}';
    script(src="../javascripts/averageGMap/renderer.js")
