doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        title #{title}
        style
            | html, body { width:100%; height:100%; }
            | #combo {
            |  top: 10px;
            |  position: absolute;
            |  margin-top: 10px;
            |  margin-left: 10px;
            |  width: 100px;
            |  z-index: 5;
            | }
            | .box {
            |  width: inherit;
            | }

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    body
        div(id="combo")
            select(id="combobox", class="box", onchange="refresh.call(this, event)")
        script(type="text/javascript").
            jsondata = '!{data}';
        script(src="https://code.highcharts.com/highcharts.js")
        script(src="https://code.highcharts.com/modules/data.js")
        script(src="https://code.highcharts.com/modules/drilldown.js")
        div(id="container" style="min-width: 310px; height: 400px; margin: 0 auto")
        script(src="../javascripts/cityGases2/renderer.js")


