<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Breathe Free</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="/images/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="/stylesheets/home/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">

    <!--slide show-->
    <link rel="stylesheet" href="/stylesheets/home/slideshow/simple-slideshow-styles.css">
    <!-- Slider
        ================================================== -->
    <link href="/stylesheets/home/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/home/owl.theme.css" rel="stylesheet" media="screen">

    <!--Slideshow-->


    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css"  href="/stylesheets/home/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home/animate.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/javascripts/home/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="preloader">
    <div id="status"> <img src="/images/img/preloader.gif" height="64" width="64" alt=""> </div>
</div>
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="index.html"> Breathe Free<strong></strong></a> </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home" class="page-scroll">Home</a></li>
                <li><a href="#problem" class="page-scroll">Current Problem</a></li>
                <li><a href="#services-section" class="page-scroll">Our Solution</a></li>
                <li><a href="#works-section" class="page-scroll">Visualization</a></li>
                <li><a href="#about-section" class="page-scroll">About</a></li>
                <li><a href="#team-section" class="page-scroll">Team</a></li>
                <!--<li><a href="#testimonials-section" class="page-scroll">Testimonials</a></li>-->
                <li><a href="#contact-section" class="page-scroll">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="text-center" name="home">
    <div class="intro-text">
        <h1 class="wow fadeInDown">Breathe <strong><span class="color">Free</span></strong></h1>
        <p class="wow fadeInDown">Know what you are breathing</p>
        <p>WHO | 7 million premature deaths annually linked to air pollution</p>
        <a href="#works-section" class="btn btn-default btn-lg page-scroll wow fadeInUp" data-wow-delay="200ms">Data Visualization</a> </div>
    <div class="space"></div>
</header>
<!---->
<div class="text-center" style="background-color: rgba(3,39,49,1);">
    <div class="container">
        <div class="section-title wow fadeInDown" data-wow-delay="200ms" style="padding-top: 109px;padding-bottom:0;">
            <h2 id="problem">Current <strong>Problem</strong></h2>
            <hr>
            <div class="clearfix"></div>
            <p></p>
        </div>
        <div class="section-title wow fadeInDown" data-wow-delay="200ms">
            <div class="bss-slides num1" tabindex="1" autofocus="autofocus">
                <figure>
                    <img src="/images/slideshow/1.jpg" width="100%"/>
                    <!--<figcaption>Caption goes here</figcaption>-->
                </figure>

                <figure>
                    <img src="/images/slideshow/2.jpg" width="100%"/>
                    <!--<figcaption>Caption goes here</figcaption>-->
                </figure>

                <figure>
                    <img src="/images/slideshow/3.jpg" width="100%"/>
                    <!--<figcaption>Caption goes here</figcaption>-->
                </figure>
                <figure>
                    <img src="/images/slideshow/4.jpg" width="100%"/>
                    <!--<figcaption>Caption goes here</figcaption>-->
                </figure>
                <figure>
                    <img src="/images/slideshow/5.jpg" width="100%"/>
                    <!--<figcaption>Caption goes here</figcaption>-->
                </figure>
            </div>
        </div>
    </div>
</div>
<!-- Services Section -->
<div id="services-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>Our <strong>Solution</strong></h2>
            <hr>
            <div class="clearfix"></div>
            <p>Our solution consists of small handheld device capable of measuring hazad gasses and communicate with android
                device through usb cable. Android application show real time gas level and notify you if you are in hazard area. Using
                our web application you can visualize gas level details in real time in all around the word</p>
        </div>
        <div class="space"></div>
        <div class="row" align="center">
            <div class="col-md-3 col-sm-6 col-lg-3 service wow fadeInUp" data-wow-delay="200ms"
                 style="margin-left: 149px;">

                <!--<i class="fa fa-desktop"></i>-->
                <img src="/images/product/device.png" height="250" width="196" style="margin-top: 53px;">
                <h4><strong>Hand held device</strong></h4>
                <p>This small light weight device consists of multiple sensors and it connects to android device using USB cable. You
                do not need to worry about charging.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-lg-3 service wow fadeInUp" data-wow-delay="400ms">
                <!--<i class="fa fa-gears"></i>-->
                <img src="/images/product/mobile.png" height="270" width="146" style="margin-top: 30px;">
                <h4><strong>Android app</strong></h4>
                <p>You can see the hazard gas levels in ppm and in app graph to visualize variations of gas.
                It will notify you when gas levels increases to critical levels. App will automatically sync data
                with our onlince server for visualization.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-lg-3 service wow fadeInUp" data-wow-delay="600ms">
                <!--<i class="fa fa-bullhorn"></i>-->
                <img src="/images/product/visual.png" height="300" width="296">
                <!--style="margin-top: 147px;"-->

                <h4 style="margin-left: 35px;"><strong>Visualization</strong></h4>
                <p style="margin-left: 37px;">We use multiple ways of visualization to represent gathered data from
                    large number of devices.</p>
            </div>
            <!--<div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="800ms"> <i class="fa fa-rocket"></i>-->
                <!--<h4><strong>Branding</strong></h4>-->
                <!--<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!-- Portfolio Section -->
<div id="works-section" class="text-center">
    <div class="container"> <!-- Container -->
        <div class="section-title wow fadeInDown">
            <h2>Data <strong>Visualization</strong></h2>
            <hr>
            <div class="clearfix"></div>
            <p>We gather realtime air pollution data using crowdsourcing and visualize data for you</p>
        </div>
        <div class="categories">
            <ul class="cat">
                <li>
                    <ol class="type">
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        <li><a href="#" data-filter=".web">3D Visualization</a></li>
                        <li><a href="#" data-filter=".app">2D Visualization</a></li>
                        <!--<li><a href="#" data-filter=".branding">Other</a></li>-->
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="portfolio-items">

                <div class="col-sm-6 col-md-3 col-lg-3 web" style="/*margin-left: 74px;">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
                        <div class="hover-bg"><a href="/3dtimeline" target="_blank" class="portfolio-link"
                                                 data-toggle="modal">
                            <div class="hover-text">
                                <h4>3D Timeline</h4>
                                3D view of different gas values
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="/images/img/portfolio/01.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 app" style="/*margin-left: 84px;">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
                        <div class="hover-bg"><a href="/2ddotmap" target="_blank" class="portfolio-link"
                                                 data-toggle="modal">
                            <div class="hover-text">
                                <h4>2D Planer</h4>
                                2D gas value visualization
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="/images/img/portfolio/02.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 app" style="/*margin-left: 84px;">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
                        <div class="hover-bg"><a href="/averageGMap" target="_blank" class="portfolio-link"
                                                 data-toggle="modal">
                            <div class="hover-text">
                                <h4>City Air Pollution 2D</h4>
                                Shows ait pollution amount in each city. Higer the radiuos higer the pollution.
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="/images/img/portfolio/10.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding web" style="/*margin-left: 233px;*/">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1400ms">
                        <div class="hover-bg"><a href="/average" target="_blank" class="portfolio-link"
                                                 data-toggle="modal">
                            <div class="hover-text">
                                <h4>City Average 3D</h4>
                                Average gas values by city 3d Map. Higher the bar higher the pollution
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="/images/img/portfolio/07.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 branding app" style="/*margin-left: 233px;*/">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1400ms">
                        <div class="hover-bg"><a href="/heatmap" target="_blank" class="portfolio-link"
                                                 data-toggle="modal">
                            <div class="hover-text">
                                <h4>Contribution</h4>
                                Users crowdsourcing contribution. Higher red color higher the contributors.
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i></div>
                            <img src="/images/img/portfolio/09.jpg" class="img-responsive" alt="Project Title"> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 branding app" style="/*margin-left: 233px;*/">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1400ms">
                        <div class="hover-bg"><a href="/cityGases2" target="_blank" class="portfolio-link"
                                                 data-toggle="modal">
                            <div class="hover-text">
                                <h4>Gas value averages bar chart</h4>
                                Shows gas averages in bar chart by city
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i></div>
                            <img src="/images/img/portfolio/11.jpg" class="img-responsive" alt="Project Title"> </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- About Section -->
<div id="about-section">
    <div class="container">
        <div class="section-title text-center wow fadeInDown">
            <h2><strong>About</strong> us</h2>
            <hr>
            <div class="clearfix"></div>
            <p>Department of Computer Science and Engineering</p>
        </div>
        <div class="row">
            <div class="col-md-6 wow fadeInLeft"> <img src="/images/img/about.png" class="img-responsive"> </div>
            <div class="col-md-6 wow fadeInRight">
                <h4>Who We Are</h4>
                <p>Final year students of Department of Computer Science of Engineering University of Moratuwa </p>
                <div class="space"></div>
                <!--<h4>What We Do</h4>-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.</p>-->
                <div class="space"></div><div class="list-style">
                <!--<div class="row">-->
                    <!--<div class="col-lg-6 col-sm-6 col-xs-12">-->
                        <!--<ul>-->
                            <!--<li>Lorem ipsum dolor</li>-->
                            <!--<li>Consectetur adipiscing</li>-->
                            <!--<li>Duis sed dapibus leo</li>-->
                            <!--<li>Sed commodo nibh ante</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="col-lg-6 col-sm-6 col-xs-12">-->
                        <!--<ul>-->
                            <!--<li>Lorem ipsum dolor</li>-->
                            <!--<li>Consectetur adipiscing</li>-->
                            <!--<li>Duis sed dapibus leo</li>-->
                            <!--<li>Sed commodo nibh ante</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Section -->
<div id="team-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>Meet the <strong>Team</strong></h2>
            <hr>
            <div class="clearfix"></div>
            <p>We are team members of a final year project in Department of Computer Science and Engineering University of Moratuwa</p>
        </div>
        <div id="row">
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="200ms">
                <div class="thumbnail"> <img src="/images/img/team/01.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Nuwan Prabhath</h3>
                        <!--<p>CEO / Founder</p>-->
                        <ul class="list-inline">
                            <li><a href="https://web.facebook.com/nuwanprabhath2012?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Nuwan_Prabhath" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/+nuwanprabhath/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="400ms">
                <div class="thumbnail"> <img src="/images/img/team/02.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Chanaka Sampath</h3>
                        <!--<p>Web Designer</p>-->
                        <ul class="list-inline">
                            <li><a href="https://web.facebook.com/BCCooray?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/BCChanaka" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/109186541524246558242/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="600ms">
                <div class="thumbnail"> <img src="/images/img/team/03.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Dumindu Buddhika</h3>
                        <!--<p>Web Designer</p>-->
                        <ul class="list-inline">
                            <li><a href="https://web.facebook.com/TshadowseekerT?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Dumindux" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/+DuminduBuddhika/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="800ms">
                <div class="thumbnail"> <img src="/images/img/team/04.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Dulsara Manupriyal</h3>
                        <!--<p>Project Manager</p>-->
                        <ul class="list-inline">
                            <li><a href="https://web.facebook.com/dulsara.manupriyal"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/dulsrazz"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/108286479966136786431/posts"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--&lt;!&ndash; Testimonials Section &ndash;&gt;-->
<!--<div id="testimonials-section" class="text-center">-->
    <!--<div class="container">-->
        <!--<div class="section-title wow fadeInDown">-->
            <!--<h2>What our <strong>Clients</strong> say</h2>-->
            <!--<hr>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-8 col-md-offset-2">-->
                <!--<div id="testimonial" class="owl-carousel owl-theme wow fadeInUp" data-wow-delay="200ms">-->
                    <!--<div class="item">-->
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>-->
                        <!--<p><strong>John DOE</strong>, CEO, Company.</p>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>-->
                        <!--<p><strong>Jenny DOE</strong>, CEO, Company.</p>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>-->
                        <!--<p><strong>John DOEn</strong>, CEO, Company.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Contact Section -->
<div id="contact-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2><strong>Contact</strong> us</h2>
            <hr>
            <p>For further details please contact</p>
        </div>
        <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="200ms">
            <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
                <p>Dept. of Computer Science &amp; Engineering<br>
                   Faculty of Engineering<br>
                    University of Moratuwa<br>
                    Sri Lanka</p>
            </div>
            <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
                <p>nuwan.11@cse.mrt.ac.lk<br>
                   chanaka.11@cse.mrt.ac.lk<br>
                   dumindu.11@cse.mrt.ac.lk<br>
                   dulsara.11@cse.mrt.ac.lk
                </p>
            </div>
            <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
                <p> +94715181576</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--<div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="400ms">-->
            <!--<h3>Leave us a message</h3>-->
            <!--<form name="sentMessage" id="contactForm" novalidate>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" id="name" class="form-control" placeholder="Name" required="required">-->
                            <!--<p class="help-block text-danger"></p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                            <!--<input type="email" id="email" class="form-control" placeholder="Email" required="required">-->
                            <!--<p class="help-block text-danger"></p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>-->
                    <!--<p class="help-block text-danger"></p>-->
                <!--</div>-->
                <!--<div id="success"></div>-->
                <!--<button type="submit" class="btn btn-default">Send Message</button>-->
            <!--</form>-->
            <!--<div class="social">-->
                <!--<ul>-->
                    <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-github"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div id="footer">
    <div class="container">
        <p>Copyright © Dpt. of Computer Science and Engineering <a href="http://www.templategarden.com" rel="nofollow">University of Moratuwa</a></p>
    </div>
</div>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Title</h2>
                        <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="/images/img/portfolio/01-preview.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
                        <ul class="list-inline">
                            <li><strong>Client</strong>: John Doe</li>
                            <li><strong>Category</strong>: Web Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Title</h2>
                        <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="/images/img/portfolio/02-preview.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
                        <ul class="list-inline">
                            <li><strong>Client</strong>: John Doe</li>
                            <li><strong>Category</strong>: Web Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Title</h2>
                        <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="/images/img/portfolio/03-preview.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
                        <ul class="list-inline">
                            <li><strong>Client</strong>: John Doe</li>
                            <li><strong>Category</strong>: Web Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Title</h2>
                        <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="/images/img/portfolio/04-preview.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
                        <ul class="list-inline">
                            <li><strong>Client</strong>: John Doe</li>
                            <li><strong>Category</strong>: Web Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Title</h2>
                        <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="/images/img/portfolio/05-preview.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
                        <ul class="list-inline">
                            <li><strong>Client</strong>: John Doe</li>
                            <li><strong>Category</strong>: Web Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Title</h2>
                        <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="/images/img/portfolio/06-preview.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
                        <ul class="list-inline">
                            <li><strong>Client</strong>: John Doe</li>
                            <li><strong>Category</strong>: Web Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 7 -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Title</h2>
                        <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="/images/img/portfolio/07-preview.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
                        <ul class="list-inline">
                            <li><strong>Client</strong>: John Doe</li>
                            <li><strong>Category</strong>: Web Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 8 -->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Title</h2>
                        <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="/images/img/portfolio/08-preview.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
                        <ul class="list-inline">
                            <li><strong>Client</strong>: John Doe</li>
                            <li><strong>Category</strong>: Web Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/home/jquery.1.11.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="/javascripts/home/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/home/SmoothScroll.js"></script>
<script type="text/javascript" src="/javascripts/home/wow.min.js"></script>
<script type="text/javascript" src="/javascripts/home/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/javascripts/home/jquery.isotope.js"></script>
<script type="text/javascript" src="/javascripts/home/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/javascripts/home/contact_me.js"></script>
<script type="text/javascript" src="/javascripts/home/owl.carousel.js"></script>
<script type="text/javascript" src="/javascripts/home/slideshow/hammer.min.js.js"></script>
<script type="text/javascript" src="/javascripts/home/slideshow/better-simple-slideshow.min.js"></script>


<!-- Javascripts
    ================================================== -->
<script type="text/javascript" src="/javascripts/home/main.js"></script>
</body>
</html>